/* 
    Kolayca kullanmak için renk paletini buraya not alıyorum.
    Arka plan rengi: 264653
    Başlıklar: 2A9D8F
    İçerik: F4A261
    Diğer Renkler: E9C46A, E76F51
*/

body{
    background-color: rgb(38, 70, 83);
    color: #F4A261;
}

.baslik{
    color: #2A9D8F;
}